<!DOCTYPE html>
<html lang="es">
    <head>
        <title> CV Gerardo Mora Beltrán</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@400;600&family=Raleway:wght@600;700&display=swap" rel="stylesheet">
        <style>
            h2{ 
                font-family:Didot, serif;
                text-align:center;
                font-size: 30px;
            }
            h1{ 
                font-family: 'Raleway', sans-serif;
                font-size: 20px;
                margin-right: 150px;
                margin-left: 50px;
            }
            center{
                font-family: 'Montserrat', sans-serif;
            }
            pre{
                margin-right: 150px;
                margin-left: 70px; 
                font-family: 'Montserrat', sans-serif;
            }
            pre2{
                font-family: 'Montserrat', sans-serif;
                font-weight:600;
            }
        </style>
    </head>
    <body style="background-color:rgb(239, 235, 241);"> <br><br>
        <h2> Gerardo Mora Beltrán</h2>
        <center>Email: gmorabeltran@gmail.com</center> 
        <center>Cellphone: +52 6688202325</center> <br><br><hr>
        <h1><b>Education</b></h1><hr style="width:27%;text-align:left;margin-left:30px">
        <pre>Instituto Tecnológico de Estudios Superiores de Monterrey</pre>
        <pre>B.S. Computer Science (ITC)</pre>
        <pre>GPA 87.3 / 100</pre>
        <pre>Expecting graduation in December 2023</pre>

        <h1><b>Skills</b></h1><hr style="width:27%;text-align:left;margin-left:30px">
        <pre>               C++                     Most Comfortable</pre>
        <pre>               C                       Most Comfortable</pre>
        <pre>               Git                     Comfortable</pre>
        <pre>               Matlab                  Comfortable</pre>
        <pre>               Python                  Comfortable</pre>
        <pre>               HTML                      Comfortable</pre>
        <pre>               C#                      Beginner</pre>
        <pre>               JavaScript              Beginner</pre>
        <h1>Major Projects</h1><hr style="width:27%;text-align:left;margin-left:30px">
        <pre><b>IP Security Filtering Simulation Project. October 2020.</b></pre>
        <pre>● Filtered a 328 pages long archive with data related to a failed login into an account using an IP range.</pre>
        <pre>● Data archive included information such as the failed login’s month, day, hour, IP address and failure reason.</pre>
        <pre>● Facilitated the task of searching for specific information by filtering through a non-sorted archive.</pre>
        <pre>● Developed using C + +.</pre>

        <pre><b>Streaming Service Project. March - June 2020.</b></pre>
        <pre>● Developed a command line application that filters movies, series, their genres and ratings according to the
        user's choice of entertainment, mimicking a Himovie streaming service.</pre>
        <pre>● Used a test archive of 23 movies and series’ episodes.</pre>
        <pre>● Programmed in C + +.</pre>

        <pre><b>Car Racing Simulation Project. November - December 2019.</b></pre>
        <pre>● Simulated a car’s trajectory through a race course using personalized user’s values on the car’s weight,
        speed and the driver’s physical attributes.</pre>
        <pre>● Shows a real-time graph of the vehicle moving through the race course and determines if a crash will
        happen using the user’s input data.</pre>
        <pre>● Developed using Matlab.</pre>

        <pre><b>Projectile Simulation Project. October 2019.</b></pre>
        <pre>● Simulated three projectiles coming out of a volcano in real time depending on the user’s conditions of the
        phenomenon, such as the volcano’s height, angle of expulsion and shape of the projectile.</pre>
        <pre>● Displayed simulation with real-time 2-D plots using a set of functions.</pre>
        <pre>● Each projectile displayed a different colour to differentiate them more easily.</pre>
        <pre>● Programmed in Matlab.</pre>
        
        <h1><b>Relevant Courses:</b></h1><hr style="width:27%;text-align:left;margin-left:30px">
        <pre>● Algorithms and Data Structures</pre>
        <pre>● Object-Oriented Programming</pre>
        <pre>● Network Interconnections</pre>
        <pre>● Software Engineering Fundamentals</pre>

        <h1><b>Awards and Leadership</b></h1><hr style="width:27%;text-align:left;margin-left:30px">
        <pre>● Recipient of a 30% scholarship at Instituto Tecnológico de Estudios Superiores de Monterrey</pre>
        <pre>● Participated in the social service organization SELIDER, whose mission is to foment a leadership mindset
            in senior middle-school students.</pre>
    </body>
</html>